@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Square&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/photo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    max-width: 1000px;
    margin: auto;
}

:root {
    --sans: 'Open Sans', sans-serif;
    --mont: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding-top: 26px;
    padding-bottom: 202px;
}

header i {
    color: #ffffff;
    font-size: 30px;
}

header h1 {
    font-size: 52px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 300;
    font-family: var(--sans);
    text-align: center;
    margin-top: 245px;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

header form input{
    width: 326px;
    height: 40px;
    background-color: #ffffff;
    border: none;
}

header button {
    width: 122px;
    height: 40px;
    background-color: #fd4f32;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: var(--sans);
    text-align: center;
}

header form input::placeholder {
    font-size: 16px;
    letter-spacing: 1px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: var(--sans);
    padding-left: 13px;
}


/* .top css start */

.top {
    background-color: #eeeeee;
    padding-bottom: 66px;
}

.top h3 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
    font-family: var(--mont);
    text-align: left;
    padding-top: 57px;
}

.top h4 {
    font-size: 15px;
    letter-spacing: 0px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: var(--sans);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 32px;
}

.divs {
    display: flex;
    justify-content: space-between;
}


.divs img {
    width: 230px;
}

.text {
    background-color: #ffffff;
    margin: 3px;
}

.divs h2 {
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
    font-family: var(--mont);
    text-align: center;
    padding-top: 15px;
}

.divs p {
    width: 204px;
    height: 75px;
    font-size: 13px;
    line-height: 19px;
    color: #696969;
    font-weight: 400;
    font-family: var(--sans);
    margin-top: 15px;
    text-align: center;
}

/* .before css start */
.before {
    background-color: #ffffff;
    padding-bottom: 76px;
}

.before h1 {
    font-size: 52px;
    letter-spacing: 2px;
    color: #323232;
    font-weight: 300;
    font-family: var(--sans);
    text-align: left;
    padding-top: 71px;
}

.texts {
    display: flex;
    justify-content: space-between;
}

.texts h2 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
    font-family: var(--mont);
    text-align: center;
    margin-top: 50px;
}

.texts p {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: var(--sans);
    margin-top: 17px;
}

.before h2 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
    font-family: var(--mont);
    text-align: center;
    margin-top: 72px;
}

.before form input {
    opacity: 0.400;
    width: 326px;
    height: 40px;
    background-color: #ebe5e5;
    border: none;
}

.before button {
    width: 122px;
    height: 40px;
    background-color: #fd4f32;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: var(--sans);
    text-align: center;
}

.before form input::placeholder {
    font-size: 16px;
    letter-spacing: 1px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: var(--sans);
    padding-left: 13px;
}

footer{
    background-color: #eeeeee;
    padding-top: 30px;
    padding-bottom: 24px;
}

.footer_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_nav h3{
    font-size: 14px;
letter-spacing: 0px;
line-height: 22px;
color: #8b8b8b;
font-weight: 400;
font-family: var(--sans);
}

.footer_nav nav ul li{
    display: inline;
}

.footer_nav nav ul li a{
    font-size: 14px;
letter-spacing: 0px;
text-transform: uppercase;
color: #323232;
font-weight: 400;
font-family: var(--mont);
text-align: center;
text-decoration: none;
margin: 9px;
}